/.idea/
/react/node_modules/
/react-native/node_modules/
/react_and_react-native/node_modules/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/node_modules
/react/.pnp
/react/.pnp.js

# testing
/react/coverage

# production
/react/build

# misc
.DS_Store
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*




# dependencies
/react_and_react-native/node_modules
/react_and_react-native/.pnp
/react_and_react-native/.pnp.js

# testing
/react_and_react-native/coverage

# production
/react_and_react-native/build
/react/.env
/react_and_react-native/.idea/
/react_and_react-native/node_modules/
/react/.idea/
/react-native/.idea/
